USE [master]
GO

/****** Object:  Database [SEDC]    Script Date: 29/04/2026 18:26:50 ******/
CREATE DATABASE [SEDC]
GO

USE [SEDC]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_EmployeeFullName]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_EmployeeFullName] (@EmployeeId INT)
	RETURNS NVARCHAR(300)
AS
	BEGIN
		DECLARE @Result NVARCHAR(300);

		SET @Result = 
		(SELECT e.FirstName + ' ' + e.LastName 
		FROM dbo.Employee e
		WHERE e.Id = @EmployeeId)

		RETURN UPPER(@Result)
	END
GO
/****** Object:  Table [dbo].[Product]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Weight] [decimal](18, 2) NULL,
	[Price] [decimal](18, 2) NULL,
	[Cost] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductDetail]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductDetail] 
AS
SELECT 
	p.[Name], 
	p.[Description], 
	p.[Weight] 
FROM dbo.[Product] p
GO
/****** Object:  Table [dbo].[BusinessEntity]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Region] [nvarchar](1000) NULL,
	[Zipcode] [nvarchar](10) NULL,
	[Size] [nvarchar](10) NULL,
 CONSTRAINT [PK_BusinessEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nchar](1) NULL,
	[HireDate] [date] NULL,
	[NationalIdNumber] [nvarchar](20) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[AccountNumber] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[RegionName] [nvarchar](100) NULL,
	[CustomerSize] [nvarchar](10) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NULL,
	[Status] [smallint] NULL,
	[BusinessEntityId] [int] NULL,
	[CustomerId] [int] NULL,
	[EmployeeId] [int] NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OrderSummary] AS
SELECT 
    o.Id AS OrderId,
    o.OrderDate ,
    o.Status AS OrderStatus,
    be.Name AS BusinessEntityName,
    c.Name AS CustomerName,
    e.FirstName + ' ' + e.LastName AS EmployeeFullName,
    o.TotalPrice
FROM dbo.[Order] o
JOIN dbo.BusinessEntity be ON o.BusinessEntityId = be.Id
JOIN dbo.Customer c ON o.CustomerId = c.Id
JOIN dbo.Employee e ON o.EmployeeId = e.Id;
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_BusinessEntity] FOREIGN KEY([BusinessEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_BusinessEntity]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
/****** Object:  StoredProcedure [dbo].[sp_FindProductDetailsByName]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_FindProductDetailsByName]
(
	@ProductName NVARCHAR(100),
	@TotalQuantityOrdered INT OUT,
	@ProductPrice DECIMAL(18, 2) OUT
)
AS
	BEGIN
		SELECT
			p.[Name] AS ProductName,
			p.[Description],
			p.Price as ProductPrice,
			SUM(od.Quantity) AS TotalQuantityOrdered
		FROM dbo.[Product] p
		JOIN dbo.OrderDetails od ON p.Id = od.ProductId
		WHERE p.[Name] LIKE '%'+ @ProductName + '%' 
		GROUP BY p.[Name], p.[Description], p.Price

		SELECT @TotalQuantityOrdered = SUM(od.Quantity) FROM dbo.[Product] p
		JOIN dbo.OrderDetails od ON p.Id = od.ProductId
		WHERE p.[Name] LIKE '%'+ @ProductName + '%' 

		SELECT @ProductPrice = p.Price 
		FROM dbo.[Product] p
		WHERE p.[Name] LIKE '%'+ @ProductName + '%' 
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllEmployees]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllEmployees]
AS
	BEGIN
		SELECT * FROM dbo.Employee
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployeeById]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEmployeeById]
	@EmployeeId INT
AS
	BEGIN
		SELECT * 
		FROM dbo.Employee e 
		WHERE e.Id = @EmployeeId
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployeesByGender]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEmployeesByGender]
(
	@Gender NCHAR,
	@GenderCount INT OUT
)
AS
	BEGIN
		SELECT * 
		FROM dbo.Employee e
		WHERE e.Gender = @Gender

		SET @GenderCount = 
		(SELECT COUNT(Id) 
		FROM dbo.Employee e
		WHERE e.Gender = @Gender)
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertEmployee]    Script Date: 29/04/2026 18:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertEmployee] 
(
	@FirstName NVARCHAR(100),
	@LastName NVARCHAR(100),
	@DateOfBirth DATE,
	@Gender NCHAR,
	@HireDate DATE,
	@NationalIdNumber NVARCHAR(20),
	--@EmployeeId INT OUTPUT
	@EmployeeId INT OUT
)
AS
	BEGIN
		INSERT INTO dbo.Employee (FirstName, LastName, DateOfBirth, HireDate, Gender, NationalIdNumber)
		VALUES(@FirstName, @LastName, @DateOfBirth, @HireDate, @Gender, @NationalIdNumber)

		SET @EmployeeId = SCOPE_IDENTITY()

		SELECT * FROM dbo.Employee WHERE Id = @EmployeeId
	END
GO
USE [master]
GO
